# Ignore model files
*.pkl

# Ignore datasets
*.csv
*.xls
*.xlsx

# Ignore data and model folders
data/
models/

# Ignore Jupyter Notebook temp files
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db